@import "tailwindcss";

/* Triangle diagonal section overlay */
.clip-triangle {
  .clip-triangle {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 70%);
}

}

@keyframes drawBorder {
  0% {
    border-color: transparent;
    box-shadow: 0 0 0 0 transparent;
  }
  100% {
    border-color: #ef4444; /* Tailwind red-500 */
    box-shadow: 0 0 12px #ef4444;
  }
}

.border-animation {
  border: 2px solid transparent;
  border-radius: 0.75rem;
  animation: drawBorder 1s forwards;
}


